* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bad7e9;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  width: 700px;
  height: 500px;
  border-radius: 56px;
  background: #bad7e9;
  box-shadow: 15px 15px 0px #030021, -15px -15px 0px #09006d;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.conteiner {
  display: flex;
  align-items: center;
  position: relative;
  width: 98%;
  height: 98%;
  border-radius: 56px;
  background-image: url("./image/background.jpg");
}

.Btn {
  width: 70px;
  height: 35px;
  background-color: #09006d;
  color: #bad7e9;
  border-radius: 8px;
  border-style: none;
  font-size: 14px;
  cursor: pointer;
}

#next {
  position: absolute;
  right: 0;
}

#prev {
  position: absolute;
  left: 0;
}
