:root {
  --red: #ff0000;
  --black: #2c2f36;
  --grey: #85888f;
  --white: #fafafa;
  --liteRed: #f34068;
  --favorite: #006b7f;
  --liteFavorite: #6fa9b7;
  --liteWhite: #fefefe;
  --superRed: #cc063e;
  --burgundy: #800427;
  --superBlack: #242426;
  --liteGray: #6e6b74;
  --phosphorous: #d0f222;
  --purple: #610bd9;
  --superWhite: #e2e2e2;
  --yellow: #ede700;
  --darkBlue: #0c1c29;
  --favorite2: #0f3446;
  --favorite3: #369090;
}
